# Python
__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info
.venv/

# OS
.DS_Store
Thumbs.db

# Editor
*.swp
*.swo
*~
.idea/
.vscode/

# Environment
.env
.env.*

# Logs
*.log
*.LOG
*_log.*
*_LOG.*
MUJOCO_LOG.TXT

# Generated data
data/
cache/
